body{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	background-image: url("evil.jpg");
	color: gray;
}

@media (max-width: 320px){		/*Iphone Responsive*/

}
@media (min-width: 1024px){		/*Ipad Responsive*/

}
